<p id="notice"><%= notice %></p>

<h1>Recs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Link</th>
      <th>Description</th>
      <th>User profile</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recs.each do |rec| %>
      <tr>
        <td><%= rec.title %></td>
        <td><%= rec.link %></td>
        <td><%= rec.description %></td>
        <td><%= rec.user_profile_id %></td>
        <td><%= link_to 'Show', rec %></td>
        <td><%= link_to 'Edit', edit_rec_path(rec) %></td>
        <td><%= link_to 'Destroy', rec, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rec', new_rec_path %>
