<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @referral.title %>
</p>

<p>
  <strong>Link:</strong>
  <%= @referral.link %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @referral.comment %>
</p>

<p>
  <strong>Company:</strong>
  <%= @referral.company %>
</p>

<p>
  <strong>Category:</strong>
  <%= @referral.category %>
</p>

<%= link_to 'Edit', edit_referral_path(@referral) %> |
<%= link_to 'Back', referrals_path %>
