<!DOCTYPE html>
<html lang="en">

<head>
  <title>MyRecs</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>

</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container-fluid">
      <div class="p-2 ps-4">
        <%= link_to root_path, class: "text-decoration-none" do %>
        <h1 class="h3 mb-0 text-white">MyRecs</h1>
        <% end %>
      </div>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobileMenu">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="mobileMenu" class="navbar-collapse collapse">
        <ul class="navbar-nav">
          <li>
            <%= link_to about_path, class: "text-decoration-none" do %>
            <span class="navbar-brand text-white">About</span>
            <% end %>
          </li>
          <li>

<% if %>
            <%= link_to new_user_session_path, class: " text-decoration-none" do %>
            <span class="navbar-brand text-white">Log in</span>
            <% end %>
<% else %>

            <%= link_to destroy_user_session_path, class: " text-decoration-none" do %>
            <span class="navbar-brand text-white">Log out</span>
            <% end %>

<% end %>
          </li>
        </ul>
      </div>
    </div>

    <%
=begin%>
    <input class="form-control form-control-dark w-50" type="text" placeholder="Search" aria-label="Search">
    <%
=end%>


  </nav>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <div class="container-fluid">
    <%= yield %>


  </div>

</body>

</html>